@font-face{
    font-family: 'star-wars';
    src:url(fonts/Starjedi.ttf)
}

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-image: url(http://untroubled.org/backgrounds/space/stars.gif);
   
}
.container{
    color: #ffffff;
}
.img-responsive{
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
#versus{
    width:70px;
}
#choose-option{
    margin-top: 150px;
}
.close-content{
    margin-bottom: 35px;
    width: 100%;
    height: 80px;
}

#battle-win-draw{
    font-family: 'star-wars';
    color: #ffffff;
}
.form-inline{ 
    width:100%;
}
.form-control.col-sm-5{
    color:#ffffff;
    text-align: center;
}
.customized-select{
    width:520px;
    font-size: 16pt;
    font-weight: bolder;
}
#select-field{
    display: none;
    margin-top: 50px;
    color: #ffffff;
    text-transform: uppercase;
}
#title-category{
    font-family: 'star-wars';
    margin-bottom: 40px;
}
.btn.btn-light{
    margin-top: 40px;
    background: #ffffff;
}
label{
    margin-right: 15px;
}

.result{
    z-index: 10;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -590px;
    margin-top: -305px;
    width: 1200px;
    height: 600px;
    border: 1px solid #d0d0d0;
    opacity: 1;
}

#close{
    width: 30px;
    background: red;
}

#battle-category{
    font-family: 'star-wars';
    color: #ffffff;
}

.card-all{
    background: #f0f0f0;
    width: 310px;
    float: left;
    margin-top: 60px;
    margin-left: 190px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
}
.card-total{
    width: 300px;
    background: #f0f0f0;
}
.card-t{
    width: 300px;
    background: #f0f0f0;
}
.card-title{
    font-size: 12pt;
    font-weight: bold;
    width: 300px;
    background: #f0f0f0;
    margin-bottom: 10px;
}
.card-image{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #000000;
}
.card-list{
    list-style: none;
}
.card-number{
    background: #f0f0f0;
    float: right;
}

.winnerRight{
    box-shadow: 0 0 10px 2.5px green;
    animation-name: winnerRight;
    animation-duration: 6s;
}
.winnerLeft{
    box-shadow: 0 0 10px 2.5px green;
    animation-name: winnerLeft;
    animation-duration: 6s;
}
.loser{
    box-shadow: 0 0 10px 2.5px red;
    animation-name: loser;
    animation-duration: 6s;
}
.draw{
    box-shadow: 0 0 20px 5px yellow;
}

@keyframes winnerRight {
    from {
        padding: 5px;
    }
    to {
        box-shadow: 0 0 50px 10px green;
        transform: translateX(-85%);
    }

}
@keyframes winnerLeft {
    from {
        padding: 5px;
    }
    to {
        box-shadow: 0 0 50px 10px green;
        transform: translateX(85%);
    }

}
@keyframes loser {
    from {
       opacity: .7;
       box-shadow: 0 0 20px 5px red;
    }
    to {
        opacity: 0;    
        box-shadow: 0 0 50px 5px red;    
    }

}

@-webkit-keyframes prelude {
    from{opacity: 0;}
    20%{opacity: 1;}
      80%{opacity: 1;}
      to{opacity: 0;}
  }
  
  @-moz-keyframes prelude {
      from{opacity: 0;}
      20%{opacity: 1;}
      80%{opacity: 1;}
      to{opacity: 0;}
  }
  @-o-keyframes prelude {
      from{opacity: 0;}
      20%{opacity: 1;}
      80%{opacity: 1;}
      to{opacity: 0;}
  }
  #prelude{
      opacity: 0;
      color: #1B7DEB;
      text-align: center;
      margin-top: 20%;
      text-shadow: 0 0 1px #1B7DEB;
      font-size: 20px;
      margin-bottom: 100%;
      -webkit-animation-name: prelude;
      -webkit-animation-timing-function: linear;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-name: prelude;
      -moz-animation-timing-function: linear;
      -moz-animation-duration: 4s;
      -moz-animation-iteration-count: 1;
      -o-animation-name: prelude;
      -o-animation-timing-function: linear;
      -o-animation-duration: 4s;
      -o-animation-iteration-count: 1;
  }
