* {
    margin: 0;
    padding: 0;
    background-image: url(http://untroubled.org/backgrounds/space/stars.gif);
    color: #ffffff;
}
.img-responsive{
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#versus{
    width:70px;
    margin-right: 40px;
    margin-left: 40px;
}
.choose-option{
    margin-bottom: 200px;
}
.form-inline{
    width:100%;
}
.form-control.col-sm-5{
    color:#ffffff;
    text-align: center;
}
.customized-select{
    width:520px;
}