* {
    margin: 0;
    padding: 0;
    background-image: url(http://untroubled.org/backgrounds/space/stars.gif);
   
}
.container{
    color: #ffffff;
}
.img-responsive{
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}
#versus{
    width:70px;
    margin-right: 40px;
    margin-left: 40px;
}
#choose-option{
    margin-top: 150px;
}
.form-inline{
    
    width:100%;
}
.form-control.col-sm-5{
    color:#ffffff;
    text-align: center;
}
.customized-select{
    width:520px;
    font-size: 16pt;
    font-weight: bolder;
}
#select-field{
    display: none;
    margin-top: 50px;
    color: #ffffff;
}
#title-category{
    margin-bottom: 40px;
}
.btn.btn-light{
    margin-top: 40px;
    background: #ffffff;
}
label{
    margin-right: 15px;
}

#result{
    z-index: 10;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -265px;
    width: 900px;
    height: 530px;
    border: 1px solid #d0d0d0;
    background: rgb(0, 0, 0);
    opacity: 1;

}
#battle-category{
    color: #ffffff;
}
.card-all{
    background: #ffffff;
    width: 318px;
    float: left;
    margin-left: 90px;
    padding: 5px;
    border-radius: 10px;
}
.card-total{
    width: 300px;
    background: #ffffff;
}
.card-t{
    width: 300px;
    background: #ffffff;
}
.card-title{
    width: 300px;
    background: #ffffff;
    margin-bottom: 10px;
}
.card-image{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #000000;
}
.card-list{
    list-style: none;
}
.card-number{
    background: #ffffff;
    float: right;
}
.close-content{
    width: 100%;
    height: 80px;
}
#close{
    width: 50px;
    background: red;
    float: right;
}

@-webkit-keyframes prelude {
    from{opacity: 0;}
    20%{opacity: 1;}
      80%{opacity: 1;}
      to{opacity: 0;}
  }
  
  @-moz-keyframes prelude {
      from{opacity: 0;}
      20%{opacity: 1;}
      80%{opacity: 1;}
      to{opacity: 0;}
  }
  @-o-keyframes prelude {
      from{opacity: 0;}
      20%{opacity: 1;}
      80%{opacity: 1;}
      to{opacity: 0;}
  }
  #prelude{
      opacity: 0;
      color: #1B7DEB;
      text-align: center;
      margin-top: 20%;
      text-shadow: 0 0 1px #1B7DEB;
      font-size: 20px;
      margin-bottom: 500px;
      -webkit-animation-name: prelude;
      -webkit-animation-timing-function: linear;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-name: prelude;
      -moz-animation-timing-function: linear;
      -moz-animation-duration: 4s;
      -moz-animation-iteration-count: 1;
      -o-animation-name: prelude;
      -o-animation-timing-function: linear;
      -o-animation-duration: 4s;
      -o-animation-iteration-count: 1;
  }
